* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.clean-list {
    list-style: none;
}