@media(max-width:920px) {
    .main-nav-list {
        padding: 0;
    }

    .main-nav-list li a {
        height: 1.5em;
    }

    .search .searchButton {
        height: 2em;
    }

    .gallery-container>img {
        width: 40%;
    }

    .meme-editor {
        flex-direction: column;
        align-items: center;
        /* height: calc(93%); */
        padding-block-start: 5em;

    }

    .canvas-container {
        justify-content: start;
    }

    /* 
    .canvas-container canvas {
        width: 200px;
    } */

    .meme-editor .controls {
        justify-content: start;

        margin: 0;
        padding: 0;
        margin-block-start: 3em;
    }
}

@media (max-width:780px) {
    /* .meme-editor {
        height: calc(91%);
    } */
}

@media (max-width:1080px) {
    .meme-editor .controls {
        place-self: center;
    }
}