* {
    box-sizing: border-box;
    text-transform: uppercase;
}

.filter {
    position: relative;

    margin-block-start: 5em;
    margin-inline: auto;
    width: 86%;
}

#filterInput {
    width: 100%;
    padding: 5px;

    border-radius: 30px;

    border-right: none;
    border: 3px solid rgb(112, 214, 132);

    font-size: 1.2em;
    outline: none;
}