* {
    box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2.5rem;
    background-color: var(--header-bgc);
    letter-spacing: 2px;
    font-family: mexcellent;
}