.main-header {
    background-color: var(--header-bgc);
    border: 1px solid var(--header-border);
    border-radius: 50px;
    width: 100%;
    /* z-index: 2; */
}

/* .logo {
    margin-inline-start: 1em;
    font-family: mexcellent;
    font-size: 1.7em;
} */

/* .logo a {
    text-decoration: none;
    color: black;
} */

.logo img {
    margin-inline-start: 1em;
    margin-block-start: 5px;
    width: 50%;
    min-width: 180px;
}

.main-nav {
    place-self: center end;
}

.main-nav-list {
    margin: 0;
}

.main-nav-list li a {
    text-decoration: none;
    width: 6em;

    color: black;
    font-family: mexcellent;
}

.main-nav-list li:last-of-type a {
    border-radius: 0 40px 40px 0;
}

.main-nav-list li {
    height: 5ren;
}

.main-nav-list li:hover a {
    background-color: var(--header-list-hover);
}