.main-header {
    background-color: var(--header-bgc);
    border: 1px solid var(--header-border);
    border-radius: 40px;
    width: 100%;
    /* z-index: 2; */
}

/* .logo {
    margin-inline-start: 1em;
    font-family: mexcellent;
} */

.logo a {
    text-decoration: none;
    color: black;
    font-size: 2em;
}

.logo img {
    margin-inline-start: 1em;
    margin-block-start: 10px;
    width: 50%;
}

.main-nav {
    place-self: end;
}

.main-nav-list {
    margin: 0;
}

.main-nav-list li a {
    text-decoration: none;
    height: 5em;
    width: 6em;

    color: black;
    font-size: 1.5em;
    font-family: mexcellent;
}

.main-nav-list li:last-of-type a {
    border-radius: 0 40px 40px 0;
}

.main-nav-list li {
    height: 5ren;
}

.main-nav-list li:hover a {
    background-color: var(--header-list-hover);
}