.meme-editor {
    justify-content: center;
    position: fixed;

    height: 100%;
    /* height: calc(100% - 5rem); */
    /* height: 100%; */
    max-width: calc(100vw);
    /* max-height: 100vh; */

    /* inset: 0; */
    top: 200px;
    right: 0;
    left: 0;
    bottom: 0;
    /* DONT EARASE */
    margin-block-start: auto;
    padding: 1.33em;

    background-color: whitesmoke;
    box-shadow: 0px 30px 50px -30px var(--shadow);
    transition: opacity 0.4s, transform 0.5s;
    /* opacity: 0; DONT EARASE */
    /* pointer-events: none; */
    /* overflow-y: auto; */
    z-index: 3;
}

.btn-close-editor {
    font-weight: 900;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    left: 0;

    border: 0;
    background-color: Transparent;
    cursor: pointer;
}

.canvas-container {
    flex: 1;
    flex-direction: column;
    justify-content: center;

    display: flex;
    align-items: center;
    max-width: 480px;
    /* margin-inline: auto; */
}

.canvas-container canvas {
    margin: 0;
    box-shadow: 0px 30px 30px -20px var(--shadow);
    border-radius: 0.5em;
    margin-block-start: 1.35em;
    align-items: end;
}

.meme-editor .controls {
    /* width: 40%; */
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* margin-inline: auto; */
    margin-block-start: 1.3em;
    border-radius: 0.5em;
}

input#text {
    height: 36px;
    width: 12rem;

    margin: 0;
    margin-block-end: 1em;
    padding: 5px 10px;

    color: rgb(14, 14, 16);
    font-size: 14px;
    line-height: 1.5;

    border: 2px solid #dee1e2;
    border-radius: 6px;

    background: #dee1e2;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
}

input#text:hover {
    border-color: #ccc;
}

input#text:focus {
    background: #fff;
    outline: none;
}

.meme-editor .controls button {
    display: inline-block;
    height: 3em;
    width: 3em;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgba(113, 233, 139, 0.5);
}

.meme-editor .controls #fonts {
    height: 36px;
    min-width: 12rem;

    padding: 5px 10px;
    margin-block: 1em;

    font-size: 14px;
    line-height: 1.5;

    border: 2px solid #dee1e2;
    border-radius: 6px;

    background: #dee1e2;
}

.meme-editor .controls input[type='color'] {
    width: 3.8em;
    height: 4em;
    padding: 0;
    margin: 0;
    border: none;
}